html,
body {
    background-color: #19181c;
    font-size: 20px;
    color: white;
}

.startButton {
    height: 100px;
    width: 320px;
    font-size: 60px;
}

#modList {
    margin: 20px;
    width: 100%;
    height: 500px;
}